<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Enter Title Here</title>
        <meta name="description" content="">
        <script type="text/javascript" src="//use.typekit.net/ymb0lgk.js"></script>
        <script type="text/javascript">try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body class="project-view">
        <div class="container project-holder">
            <div class="row">
                <div class="col project-item">
                    <div class="headline">
                        <h1><%= project.name %></h1>
                        <p class="description"><%= project.description %></p>
                        <div class="author">
                            <span class="identity-card" data-id="106066"><a href="#"><img src=<%= project.url %> >Owner: <%= project.owner_id %></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col section-profile-stats">
                    <div class="stat-one view-count">
                        <span title="View Count"><%= project.views %></span>
                        <small>views</small>
                    </div>
                    <div class="stat-one comment_count">
                        <span title="Comments"><%= project.comments %></span>
                        <small>comments</small>
                    </div>
                    <div class="stat-one follower_count">
                        <span title="Followers"><%= project.followers %></span>
                        <small>followers</small>
                    </div>
                    <div class="stat-one like_count">
                        <span title="Likes"><%= project.likes %></span>
                        <small>likes</small>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col col-md-4">
                    <img class="img-fluid" src=<%= project.image_url %>>
                </div>
                <div class="col col-md-7">
                    <section class="section section-description">
                        <h2 id="menu-description" class="section-title">Description</h2>
                        <p class="description"><%= project.description %>
                        </p>
                    </section>
                    <a href="/" class="btn btn-primary">Go Back</a>
                    
                    <!-- <a href="/projects/" class="btn btn-primary">Previous</a> 
                    <a href="/" class="btn btn-primary">Next</a> -->
                </div>
            </div>
        </div>
        <!-- Add your site or application content here -->
        <script src="javascripts/index.js"></script>
    </body>
</html>
